@import "compass/css3";
@charset "utf-8";


@mixin fontsize($size: 24, $base: 10) {
font-size: $size + px;
font-size: ($size / $base) * 1rem;
}

$colorba : rgb(255,248,220);
$colorfont: rgb(070,043,036);

//pc
body{
    width: 100%;
    background-color: $colorba;
}

header{
    .cat-items {
        text-align: center;
        line-height: 250px;//縦真ん中
        color: white;
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        margin-top: 10px;
        @include fontsize(45);
        font-family: "Monotype Corsiva";
        letter-spacing: 3px;
    }
    .cat-1{
        background-image: url("../images/pictor/tom171025DSC08373_TP_V.jpg");
        background-position: right bottom; 
    }
    .cat-2{
        background-image: url("../images/pictor/NEC_0775.jpg");
        background-position: right center;
    }
    .cat-3{
        background-image: url("../images/pictor/tom_catDSC07897_TP_V.jpg");
        background-position: right center;
    }
}//header
#main_area{
    .top{
        width: 100%;
        overflow: hidden;
        //display: flex;
        //flex-direction: row;
        .top_1{
            float: left;
            margin: 10px 4px;
            width: 45%;
            padding: 2%;
            background-color: white;
            position: relative;
            /*img{
               margin: 0;
               width: 35px;
               height: 35px;
               float: left;
            }*/
            background-size: 60px;
            background-image: url("../images/pictor/niku.png");
            background-repeat: no-repeat;
            background-position: left 80px center;
            a{
                text-decoration: none;
            }
            h2{
                text-align: center;
                margin: 0;
                @include fontsize(22);
                color: $colorfont;
            }
        }
    }//top
    #pictor{
        margin-top: 10px;
        .pictor_list{
            //float: left;
            img{
                padding: 2%;
                background-color: white;
                width: 33%;
                height: 100%;
            }
        }
    }
    #cat_feeling{
        margin-top: 20px;
        border-top: dashed 5px $colorfont;
        .feeling_top{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 10px;
            //margin: 0 auto;
            img{
                width: 30px;
                height: 30px;
                //float: left;
            }
            h3{
                @include fontsize(24);
            }
        }
        .top_list{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .box{
                background-color: white;
                width: 46%;
                padding: 8px;
                margin: 5px auto;
                border: 5px $colorfont solid;
                border-radius: 15px;
                display: flex;
                img{
                    width: 150px;
                    //float: left;
                    height: 150px;
                    margin: auto 0;
                }
                .box_item{
                    margin: 2px;
                    h3{
                        font-weight: bold;
                        @include fontsize(18);
                    }
                    p{
                        @include fontsize(15);
                        margin: 10px 2px 0 2px ;
                    }
                }
            }
        }
    }//cat_feeling
    .cat_life{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        //float: left;
        margin: 20px 0 0 0;
        img{
            width: 35px;
            height: 35px;
            //float: left;
        }
        h3{
            @include fontsize(25);
            margin: 0;
        }
    }
    .cat_life_list{
        .cat_life_box{
            //width: 100%;
            display: flex;
            flex-direction: row;
            background-color: white;
            border: 1px;
            border-radius: 20px;
            padding: 2%;
            margin: 10px 10px 0 10px;
            .life_box_item{
                width: 70%;
                float: left;
                ._box_item_top{
                    display: flex;
                    padding:10px;
                    flex-direction: row;
                    img{
                        width: 30px;
                        height: 30px;
                        margin: 0;
                    }
                    h3{
                        font-weight: bold;
                        @include fontsize(18);
                        margin: 0;
                        //line-height: 0;
                    }
                }
                p{
                    @include fontsize(15);
                    margin: 0;
                }
            }
            img{
                margin: 60px 0 0 0; 
                width: 30%;
                height: 100%;
            }
        }
    }
}//main_area
footer{
    margin-bottom: 20px;
    #page_top{
        padding: 2px;
        //background-color: white;
        a{
            text-decoration: none;
            p{
                display: inline-block;
                @include fontsize(22);
                color: $colorfont;
                background-color: white;
                padding: 10px;
                width: 40%;
                text-align: center;
                border-radius: 40px;
                margin: 2px 200px;
                font-family: "Monotype Corsiva";
            }
        }
       
    }
}
//pc
//sp
@media(max-width: 550px){
    header{
    .cat-items {
        line-height: 150px;//縦真ん中
        height: 150px;
        @include fontsize(25);
    }
    .cat-1{}
    .cat-2{}
    .cat-3{}
}//header
    #main_area{
         .top{
            width: 100%;
            overflow: hidden;
            //display: flex;
            //flex-direction: row;
            .top_1{
                float: left;
                margin: 3px 2px;
                width: 100%;
                padding: 2%;
                background-color: white;
                /*img{
                   margin: 0;
                   width: 35px;
                   height: 35px;
                   float: left;
                }*/
                background-size: 40px;
                background-image: url("../images/pictor/niku.png");
                background-repeat: no-repeat;
                background-position: left 40px center;
                h2{
                    text-align: center;
                    margin: 0;
                    @include fontsize(22);
                    
                }
            }
        }//top
        #pictor{
            .pictor_list{
                img{
                    width: 49%;
                }
            }
        }
        #cat_feeling{
            .feeling_top{
                img{
                }
                h3{
                }
            }
            .top_list{
                flex-direction: column;
                .box{
                    width: 100%;
                    flex-direction: column;
                    img{
                        margin: 0 auto;
                    }
                    .box_item{
                        h3{
                        }
                        p{
                        }
                    }
                }
            }
        }//cat_feeling
        .cat_life_list{
            .cat_life_box{
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: white;
                padding: 2%;
                margin: 10px;
                border-radius: 10px;
                .life_box_item{
                    width: 95%;
                    overflow: hidden;
                    ._box_item_top{
                        display: flex;
                        flex-direction: row;
                        img{
                            width: 30px;
                            height: 30px;
                        }
                        h3{
                            @include fontsize(18);
                        }
                    }
                    p{
                        @include fontsize(15);
                    }
                }
                img{
                    margin: 2px;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }//main_area
    footer{
        #page_top{
            a{
                p{
                    margin: 2px 100px;
                }
            }
        }
    }//footer
}